apiVersion: v1
kind: Service
metadata:
  name: go-otel-sample
  namespace: go-otel-sample
  labels:
    app.kubernetes.io/name: go-otel-sample
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: go-otel-sample
